<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <div class="brand">
            <span>Mommy's Kitchen</span>
            <p class="brand-address">
                <a href="#">
                    <i class="fa-solid fa-location-dot"></i>
                Six Mile, Guwahati
                </a>
            </p>
        </div>
        <div class="search-box">
            <input type="text" placeholder="search for dishes" class="search-input">
            <a href="tel: +91 6002649802"><i class="fa-solid fa-phone"></i></a>
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </div>
    </header>
<!-- ===============HEADER ENDS HERE=========== -->
    <main class="slides widthMargin">
        <div class="mySlide">
            <img src="/img/slide-1.jpg" alt="img">
        </div>
        <div class="mySlide">
            <img src="/img/slide-2.jpg" alt="img">
        </div>
        <div class="mySlide">
            <img src="/img/slide-3.jpg" alt="img">
        </div>
    </main>
<!-- =================MAIN ENDS HERE================= -->
    <section class="recommendation widthMargin">
        <div class="lines">
            <span>Recommendation</span>
        </div>
        <main class="scroll-foodItem">
            <div class="foodItem">
                <img src="/img/vegr.jpg" alt="food">
                <p class="foodItem-name">Hyderabadi Chicken Biriyani</p>
                <p class="foodItem-price">&#8377;<span>500</span>/-</p>
                <p class="foodItem-rate">Top-rated</span>
            </div>
        </main>
    </section>
<!-- ============RECOMMENDATION SECTION ENDS HERE====================== -->

    <section class="category widthMargin">
        <div class="lines">
            <span>Categories</span>
        </div>
        <main class="main-category scroll-foodItem">
            <div class="categoryItem" onclick="filter_cat_al()">
                <img src="/img/vegr.jpg" alt="food">
                <p class="categoryItem-name">All</p>
            </div>
        </main>
    </section>
    <!-- ================CATEGORY SECTION ENDS HERE===================== -->
    <section class="menu widthMargin">
        <div class="lines">
            <span>Menu</span>
        </div>
        <main class="scroll-menuItem">
            <!-- <div class="menuItem"> -->
                <p class="title">All</p>
                <div class="title-category">
                  <% if(items){%>
                    <% items.forEach((el)=>{ %>
                  <div class="itemDescription menubox" data-itemid="<%= el.item_id %>" data-cate="<%= el.category %>" data-cartAmount="1">
                      <div class="itemName">
                          <span class="fa-solid fa-dice-one"></span>
                          <p class="name">
                              <%= el.item_name %>
                          </p>
                          
                          <% if(el.half_price){%>
                            <p class="fullPrice">
                              <i class="fa-solid fa-circle"></i><span>&nbsp;Full</span>
                              &#8377;<span class="weight"><%= el.item_price %></span>/-
                          </p>
                          <p class="halfPrice">
                              <i class="fa-solid fa-circle-half-stroke"></i>
                              Half&#8377;<span class="weight" id="half_price"><%= el.half_price %> </span>/-
                          </p>
                          <% } else{%> 
                            <p class="fullPrice">
                              <i class="fa-solid fa-circle"></i><span>&nbsp;</span>
                              &#8377;<span class="weight price-item"><%= el.item_price %></span>/-
                          </p>
                          <% }%> 
                          <p>Available</p> 
                      </div>
                      <div class="itemImage">
                          <img src="<%= el.item_image %>" alt="food">
                          <span class="spanAdd">Add&nbsp;&nbsp;&plus;</span>
                          <div class="qnt wrapp">
                              <p class="quantity">Qt:</p>
                              <p class="minus" onclick="qntCartDecrease(event, 'item-selected')">-</p>
                              <p class="num">1</p>
                              <p class="plus" onclick="qntCartIncrease(event, 'item-selected')">+</p>
                          </div>
                          <% if(el.item_offer){%>
                          <p class="offer">
                              <span id="offer"><%= el.item_offer %>% off </span>
                          </p>
                          <% } %>
                      </div>
                  </div>
              <% })}%>  
              </div>
                           
            <!-- </div> -->
        </main>
    </section>
<!-- ==================MENU ENDS HERE========================= -->

    <footer class="widthMargin">
        <div class="footer-icons">
            <div class="icons active">
                <span class="fa-solid fa-house icon"></span>
                <span class="name">Menu</span>
                <span class="circle"></span>
            </div>
            <div class="icons">
                <span class="fa-solid fa-wand-magic-sparkles icon"></span>
                <span class="name">Popular Items</span>
                <span class="circle"></span>
            </div>
            <div class="icons">
                <span class="fa-solid fa-utensils icon" onclick="redirectToMyOrder()"></span>
                <span class="name">My Orders</span>
                <span class="circle"></span>
            </div>
            <div class="icons" onclick="gotocart()">
                <span class="fa-solid fa-cart-shopping icon"></span>
                <span class="name">Cart</span>
                <span class="circle"></span>
            </div>
            <div class="indicator"></div>
        </div>
        <div class="footer-cart">
            <p class="name-cart"><span class="fa-solid fa-bag-shopping"></span>
            <span id="item-added-quantity">0</span>&nbsp;ITEM ADDED</p>
            <p class="next-name-cart" onclick="gotocart()">Go to Cart<i class="fa-solid fa-arrow-right"></i></p>
        </div>
        <div class="footer-desc">
                All rights reserved &nbsp;&nbsp;&nbsp;&nbsp;© Raynrel Infotec @2023
        </div>
        <!-- half Full pop up box -->
        <div class="pricing-half-full hide item-amount">
            <span id="cross">&times;</span>
            <div class="quantity">
                <p>Quantity</p>
                <p class="small">Select any 1 option</p>
                <p class="farp half"><span>Half</span><input type="radio" name="fuck" value="" checked="checked"></p>
                <p class="farp full"><span>Full</span><input type="radio" name="fuck" value=""></p>
            </div>
            <div class="flexbtn">
                <div class="qnt wrapp">
                    <p class="quantity">Qt:</p>
                    <p class="minus" onclick="qntCartDecrease(event, null)">-</p>
                    <p class="num">1</p>
                    <p class="plus" onclick="qntCartIncrease(event, null)">+</p>
                </div>
                <div class="addItem" id="add-amount-button">
                    <p>Add Item <span>&#8377;500</span></p>
                </div>
            </div>
        </div>
    </footer>

<!-- ==================FOOTER ENDS HERE======================= -->

    <section class="my-cart hide widthMargin">
        <div class="lines">
            <span>ITEMS ADDED</span>
            <span id="times">X</span>
        </div>
        <div id ="see-all-Offer" class="widthMargin">
            <img src="/img/offer.svg" alt="">
            <span>See all offers</span> 
        </div>
        <div class="all-offers hide widthMargin">
            <div class="offerBox">
                <p>15% OFF upto &#8377;500</p>
                <span>APPLY</span>
            </div>
            <div class="offerBox">
                <p>15% OFF upto &#8377;500</p>
                <span>APPLY</span>
            </div>
        </div>
        <main class="add-to-cart" id="cartbox">
            
        </main>
        <div class="lastBtn widthMargin">
            <span id="cancelOrder">Total &#8377;<span id="bill">500</span>/-</span>
            <span id="placeOrder" onclick="calldata()">Place Order</span>
        </div>
    </section>

    <!-- ========JAVASCRIPT FILES======= -->
    <script src="https://kit.fontawesome.com/7b8292bbe5.js" crossorigin="anonymous"></script>
    <script src="../menu.js"></script> 
    <script src="../main.js"></script> 
</body>
</html>