<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/menu.css">
    <title>menu</title>
</head>
<body>
    <h1>Welcome to Your menu</h1>
 <div class="category"><span onclick="filter_cat_al()">All</span></div>
 <br>
  <div class="mainmenu">
    <% if(items){%>
        <% items.forEach((el)=>{ %>
        <div class="menubox" data-itemid="<%= el.item_id %>" data-cate="<%= el.category %>">
            <p> <%= el.item_name %></p>
            <span>$<%= el.item_price %></span>
            <% if(el.item_offer){%>
                <span id="offer">off <%= el.item_offer %> %</span>
            <% } %> <br>
            <button id="orderNow">order now</button>
            <button id="addtobusket" onclick="addtocart(event, 'cartbox')">Add to busket</button>
            <img src="<%= el.item_image %>" alt="N/A" height="60px" width="80px">
        </div>
    <% })}%>
  </div>


    <div class="cart">
       <div class="selected-item" id="cartbox">
       </div>
       <div class="billbox">
         <h4> hey here is the bill bro</h4><h3 id="bill"></h3>
         <button id="orderNow">Place Order</button>
         <a href="myAllorders" style="text-decoration: none;">My Orders</a>
       </div>
    </div>

    <script src="../menu.js"></script>   

</body>
</html>