<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/menu.css">
    <title>menu</title>
</head>
<body>
    <h1>Welcome to Your menu</h1>
 <div class="category"><span onclick="filter_cat_al()">All</span></div>
 <br>
 <div class="item-amount hide">
  full-<span>$300</span><input type="radio" name="amount-item" value="$300" checked="checked">
  half-<span>$150</span><input type="radio" name="amount-item" value="$150">
  <button id="add-amount-button">add now</button>
</div>

  <div class="mainmenu">
    <% if(items){%>
        <% items.forEach((el)=>{ %>
        <div class="menubox" data-itemid="<%= el.item_id %>" data-cate="<%= el.category %>">
            <p> <%= el.item_name %></p>
            <span>$<%= el.item_price %></span>
            <% if(el.half_price){%>
              <span id="half_price">half price <%= el.half_price %> %</span>
          <% } %>
            <% if(el.item_offer){%>
                <span id="offer">off <%= el.item_offer %> %</span>
            <% } %> <br>
            <button id="orderNow">order now</button>
            <button id="addtobusket" onclick="addtocart(event, 'cartbox')">Add to busket</button>
            <img src="<%= el.item_image %>" alt="N/A" height="60px" width="80px">
        </div>
    <% })}%>
  </div>

    <div class="cart">
       <div class="selected-item" id="cartbox">
       </div>
       <div class="billbox">
         <h4> hey here is the bill bro</h4><h3 id="bill"></h3>
         <button id="orderNow">Place Order</button>
         <a href="myAllorders" style="text-decoration: none;">My Orders</a>
       </div>
    </div> 

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <div class="brand">
            <span>Mommy's Kitchen</span>
            <p class="brand-address">
                <a href="#">
                    <i class="fa-solid fa-location-dot"></i>
                Six Mile, Guwahati
                </a>
            </p>
        </div>
        <div class="search-box">
            <input type="text" placeholder="search for dishes" class="search-input">
            <a href="tel: +91 6002649802"><i class="fa-solid fa-phone"></i></a>
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </div>
    </header>
<!-- ===============HEADER ENDS HERE=========== -->
    <main class="slides widthMargin">
        <div class="mySlide">
            <img src="/img/slide-1.jpg" alt="img">
        </div>
        <div class="mySlide">
            <img src="/img/slide-2.jpg" alt="img">
        </div>
        <div class="mySlide">
            <img src="/img/slide-3.jpg" alt="img">
        </div>
    </main>
<!-- =================MAIN ENDS HERE================= -->
    <section class="recommendation widthMargin">
        <div class="lines">
            <span>Recommendation</span>
        </div>
        <main class="scroll-foodItem">
            <div class="foodItem">
                <img src="/img/vegr.jpg" alt="food">
                <p class="foodItem-name">Hyderabadi Chicken Biriyani</p>
                <p class="foodItem-price">&#8377;<span>500</span>/-</p>
                <p class="foodItem-rate">Top-rated</span>
            </div>
        </main>
    </section>
<!-- ============RECOMMENDATION SECTION ENDS HERE====================== -->

    <section class="category widthMargin">
        <div class="lines">
            <span>Categories</span>
        </div>
        <main class="main-category scroll-foodItem">
            <div class="categoryItem" onclick="filter_cat(event)">
                <img src="/img/vegr.jpg" alt="food">
                <p class="categoryItem-name">All</p>
            </div>
        </main>
    </section>
    <!-- ================CATEGORY SECTION ENDS HERE===================== -->
    <section class="menu widthMargin">
        <div class="lines">
            <span>Menu</span>
        </div>
        <main class="scroll-menuItem">
            <!-- <div class="menuItem"> -->
                <p class="title">All</p>
                <div class="title-category">
                  <% if(items){%>
                    <% items.forEach((el)=>{ %>
                  <div class="itemDescription" data-itemid="<%= el.item_id %>" data-cate="<%= el.category %>">
                      <div class="itemName">
                          <span class="fa-solid fa-dice-one"></span>
                          <p class="name">
                              <%= el.item_name %>
                          </p>
                          <p class="fullPrice">
                              <i class="fa-solid fa-circle"></i><span>&nbsp;Full </span>
                              &#8377;<span class="weight"><%= el.item_price %></span>/-
                          </p>
                          <% if(el.half_price){%>
                          <p class="halfPrice">
                              <i class="fa-solid fa-circle-half-stroke"></i>
                              Half&#8377;<span class="weight"><%= el.half_price %> </span>/-
                          </p>
                          <% } %> 
                      </div>
                      <div class="itemImage">
                          <img src="<%= el.item_image %>" alt="food">
                          <span class="spanAdd">Add&nbsp;&nbsp;&plus;</span>
                          <div class="qnt wrapp">
                              <p class="quantity">Qt:</p>
                              <p class="minus">-</p>
                              <p class="num">1</p>
                              <p class="plus">+</p>
                          </div>
                          <% if(el.item_offer){%>
                          <p class="offer">
                              <span><%= el.item_offer %>% off </span>
                          </p>
                          <% } %> 
                      </div>
                  </div>
              <% })}%>  
              </div>
                           
            <!-- </div> -->
        </main>
    </section>
<!-- ==================MENU ENDS HERE========================= -->

    <footer class="widthMargin">
        <div class="footer-icons">
            <div class="icons active">
                <span class="fa-solid fa-house icon"></span>
                <span class="name">Menu</span>
                <span class="circle"></span>
            </div>
            <div class="icons">
                <span class="fa-solid fa-wand-magic-sparkles icon"></span>
                <span class="name">Popular Items</span>
                <span class="circle"></span>
            </div>
            <div class="icons">
                <span class="fa-solid fa-utensils icon"></span>
                <span class="name">My Orders</span>
                <span class="circle"></span>
            </div>
            <div class="icons" onclick="gotocart()">
                <span class="fa-solid fa-cart-shopping icon"></span>
                <span class="name">Cart</span>
                <span class="circle"></span>
            </div>
            <div class="indicator"></div>
        </div>
        <div class="footer-cart">
            <p class="name-cart"><span class="fa-solid fa-bag-shopping"></span>
            <span>1</span>&nbsp;ITEM ADDED</p>
            <p class="next-name-cart" onclick="gotocart()">Go to Cart<i class="fa-solid fa-arrow-right"></i></p>
        </div>
        <div class="footer-desc">
                All rights reserved &nbsp;&nbsp;&nbsp;&nbsp;© Raynrel Infotec @2023
        </div>
        <div class="pricing-half-full hide">
            <span id="cross">&times;</span>
            <div class="quantity">
                <p>Quantity</p>
                <p class="small">Select any 1 option</p>
                <p class="farp half"><span>Half</span><input type="radio" name="fuck"></p>
                <p class="farp full"><span>Full</span><input type="radio" name="fuck"></p>
            </div>
            <div class="flexbtn">
                <div class="qnt wrapp">
                    <p class="quantity">Qt:</p>
                    <p class="minus">-</p>
                    <p class="num">1</p>
                    <p class="plus">+</p>
                </div>
                <div class="addItem">
                    <p>Add Item <span>&#8377;500</span></p>
                </div>
            </div>
        </div>
    </footer>

<!-- ==================FOOTER ENDS HERE======================= -->

    <section class="my-cart hide widthMargin">
        <div class="lines">
            <span>ITEMS ADDED</span>
            <span id="times">X</span>
        </div>
        <div id ="see-all-Offer" class="widthMargin">
            <img src="/img/offer.svg" alt="">
            <span>See all offers</span> 
        </div>
        <div class="all-offers hide widthMargin">
            <div class="offerBox">
                <p>15% OFF upto &#8377;500</p>
                <span>APPLY</span>
            </div>
            <div class="offerBox">
                <p>15% OFF upto &#8377;500</p>
                <span>APPLY</span>
            </div>
        </div>
        <main class="add-to-cart">
            <div class="itemAdded">  
                <p><span class="fa-solid fa-dice-one"></span>
                    Special Paneer Kebab Biriyani Special Paneer Kebab Biriyani 
                </p>
                <p>
                    <span>&#8377;</span>
                    <span>350</span>/-
                </p>
                <p class="newOffer"><img src="/img/offer.svg" alt=""><span>15% off</span></p>
                <div class="applyOffer">
                    <span><img src="/img/offer.svg" alt="">
                    Apply Offer</span>
                    <span>Remove&nbsp;&minus;</span>
                </div>
                <div class="qnt wrapper">
                    <span class="quantity">Qt:</span>
                    <span class="minus">-</span>
                    <span class="num">1</span>
                    <span class="plus">+</span>
                </div>
            </div>

            <div class="itemAdded">  
                <p><span class="fa-solid fa-dice-one"></span>
                    Special Paneer Kebab Biriyani Special Paneer Kebab Biriyani 
                </p>
                <p>
                    <span>&#8377;</span>
                    <span>350</span>/-
                </p>
                <div class="applyOffer">
                    <span>Remove&nbsp;&minus;</span>
                </div>
                <div class="qnt wrapper">
                    <span class="quantity">Qt:</span>
                    <span class="minus">-</span>
                    <span class="num">1</span>
                    <span class="plus">+</span>
                </div>
            </div>
        </main>
        <div class="lastBtn widthMargin">
            <span id="cancelOrder">Total &#8377;<span>500</span>/-</span>
            <span id="placeOrder">Place Order</span>
        </div>
    </section>

    <!-- ========JAVASCRIPT FILES======= -->
    <script src="https://kit.fontawesome.com/7b8292bbe5.js" crossorigin="anonymous"></script>
    <script src="../main.js"></script>
    <script src="../menu.js"></script>  
</body>
</html>